{{- define "metadata" -}}
{{ partial "blog/single_metadata" . }}
{{- end -}}

{{- define "main" -}}
<article class="m-5">
  {{- with .Resources.GetMatch "featuredImage" -}}
  <figure>
    <img src="{{ .Permalink }}" alt="">
  </figure>
  {{- end -}}

  <h1 class="leading-normal text-grey-darkest mt-4">{{ .Title }}</h1>

  <div class="flex items-center mb-3 mt-3">
    <h8 class="text-grey mr-4">{{ .Date.Format "January 2, 2006" }}</h8>
    {{- if .Params.blogURL -}}
    <a class="text-grey hover:text-grey-darker" href="{{ .Params.blogURL }}">
      <i class="fab fa-medium"></i>
    </a>
    {{- end -}}
  </div>

  <br>

  <div class="generated-content">
    {{ .Content }}
  </div>
</article>
{{- end -}}