{{ define "main" }}
  <div class="column is-6 is-offset-3">
    <article class="content has-text-justified">
        {{- if .Params.featuredImage -}}
        <figure>
          {{ $featuredImage := resources.Get .Params.featuredImage }}
          <img src="{{ $featuredImage.Permalink }}" alt="">
        </figure>
      {{- end -}}
      <h1>{{ .Title }}</h1>
      <div class="media">
          <h8 class="has-text-grey-light media-left">{{ .Date.Format "January 2, 2006" }}</h8>
          {{- if .Params.blogURL -}}
          <a class="icon media-right" href="{{ .Params.blogURL }}">
            <i class="fab fa-medium"></i>
          </a>
          {{- end -}}
        </div>
        <br>
      {{ .Content }}
    </article>
  </div>
{{ end }}