<nav class="flex bg-white pin-t pin-x z-100 h-16 mb-5">
  <div class="w-1/5"></div>
  <div class="flex items-center w-3/5 justify-between">
      <a class="no-underline hover:text-grey-darker text-grey" href="/">
        <span>Fred's Blog</span>
      </a>
    <div class="hidden lg:block lg:w-1/4">
      <div class="flex justify-end items-center text-grey">
        <a class="text-grey hover:text-grey-darker mr-6" href="{{ $.Site.Params.urls.medium }}">
          <i class="fab fa-medium fa-2x"></i>
        </a>
        <a class="text-grey hover:text-grey-darker" href="{{ $.Site.Params.urls.github }}">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="w-1/5"></div>
</nav>